@import "tailwindcss";

:root {
  --vp-c-brand-1: #6767e7;
  --vp-c-brand-2: #494ae2;
  --vp-c-brand-3: #2a2aaa;
  --vp-c-brand-soft: #b7b7d8;
  --vp-home-hero-image-background-image: linear-gradient(135deg, var(--vp-c-brand-1) 0%, var(--vp-c-brand-2) 100%);
	--vp-home-hero-image-filter: blur(120px);
}

.VPSidebarItem.is-active p {
	font-weight: bold !important;
}

@theme {
  --breakpoint-desktop: 900px;
}

@utility soft-scrollbar {
  --scrollbar-size: 2px;
  --scrollbar-color: var(--color-primary);
  --scrollbar-track-color: #d6d6d6;
  --scrollbar-thumb-color: #929292;
  scrollbar-width: thin;
}

.soft-scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

.soft-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
  background-color: var(--scrollbar-track-color);
}

.soft-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}
